body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EFEFEF;
    /* 明るい灰色 */
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #B0B0B0;
    /* 薄い灰色 */
    padding: 0;
    background-color: #FFFFFF;
    /* 白色 */
}

.header {
    text-align: center;
    background-color: #4A90E2;
    /* 明るい青色 */
    padding: 15px 0;
    border-bottom: 1px solid #4A90E2;
    margin: 0;
    position: relative;
}

.header h1 {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
    /* 白色 */
}

.nav-container {
    background-color: #FF6F61;
    /* 鮮やかなオレンジ色 */
    padding-top: 0px;
}

.nav {
    background-color: #FF6F61;
    /* 鮮やかなオレンジ色 */
    margin: 0;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav ul li {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.nav ul li a {
    color: #FFFFFF;
    /* 白色 */
    text-decoration: none;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 18px;
    background-color: #FF6F61;
    /* 鮮やかなオレンジ色 */
    transition: background-color 0.3s ease;
}

.nav ul li a:hover {
    background-color: #FFAB91;
    /* 明るいオレンジ色 */
    color: #000000;
    /* 黒色 */
}

.nav ul li a.active {
    background-color: #FFAB91 !important;
    /* 明るいオレンジ色 */
    color: #000000 !important;
    /* 黒色 */
}

main {
    padding: 20px;
    background-color: #F7F7F7;
    /* 非常に薄い灰色 */
}

.inventory-list {
    list-style: none;
    padding: 0;
}

.inventory-list li {
    padding: 5px 0;
    border-bottom: 1px solid #D0D0D0;
    /* 薄い灰色 */
}

.title-link:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #FF6F61;
    /* 鮮やかなオレンジ色 */
}