.fill-in {
    text-align:center;
    margin: 10px;
    padding: 5px;
    border-radius: 8px;
    background-color: #e4a1d9;
    border: dashed #bbb;
    box-shadow: 0 0 0 4px #e4a1d9;
}

.midashi {
    color: #000000;/*•¶šF*/
    border: solid 3px #ec38f2;/*üF*/
    padding: 0.5em;/*•¶šü‚è‚Ì—]”’*/
    background: #d94fbb;
    border-radius: 0.5em;/*ŠpŠÛ*/
}