.fill-in {
    text-align:center;
    margin: 10px;
    padding: 5px;
    border-radius: 8px;

}

.midashi {
    color: #ffffff;/*•¶šF*/
    border: solid 3px #73607D;/*üF*/
    padding: 0.5em;/*•¶šü‚è‚Ì—]”’*/
    background: #73607D;
    border-radius: 0.5em;/*ŠpŠÛ*/
}